*{
    margin: 0;
    padding: 0;
}
  
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
    background-image: url("http://source.unsplash.com/IoQioGLrz3Y");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-size: 100%;
    
    position: absolute;

    overflow-x: hidden;
}

.backGroundImage{
    background-image: url("http://source.unsplash.com/IoQioGLrz3Y");
}

@media only screen and (max-width: 1300px) {
    body {
        background-size: auto 100vh;
    }
  }